.custom-collapse-item {
    padding: 0.5rem 1rem;
    margin-left: 8px;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.abtn {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.abtn:hover {
    color: mediumpurple;
}

.abtn:focus {
    border: none;
    outline: none;
}

.dmIcon {
    height: 1rem;
    width: 1rem;
}

.dmSearch {
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.dmSearchInput {
    width: 80%;
    border-color: #858796;
    border-width: thin;
    border-right: none;
}

.dmSearchButton {
    width: 20%;
    border-color: #858796;
    border-width: thin;
}

#sideBar {
    position: fixed;
    z-index: 3;
}

.modalBtn {
    display: block;
    margin: auto;
}

.dmSearchInpu {
    max-width: 130px;
}

.dmSearchToggle {

    max-width: 110px;
}

.chatOpen {
    display: inline !important;
}

.chatDelete {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    background-color: white;
    border: none;
}

.addChat {
    height: 24px;
    background-color: black;
    color: white;
}

