#mainFeed {
    margin-top: 100px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    #mainFeed {
        margin-left: 50px;
    }
}

<<<<<<< Updated upstream
.modal-backdrop {
    z-index: -1;
=======
.showMore {
    width: 300px;
    display: block;
    margin: auto;
    font-weight: bold;
    background-color: #f8f9fc;
    /* border: none; */
}

.container-fluid {
    color: black !important;
>>>>>>> Stashed changes
}